RewriteEngine On

# Redirect "/example.php" to "/example"
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

# Rewrite "/example" to "/example.php"
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Route other URLs to "index.php?url=<URL>"
#RewriteCond %{REQUEST_URI} !^/assets/
# Exclude assets folder
#RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]
