@font-face {
  font-family: "RodinBokutohPro-B";
  src: url("../fonts/RodinBokutohPro-B.ttf.woff") format("woff"),
    url("../fonts/RodinBokutohPro-B.ttf.svg#RodinBokutohPro-B") format("svg"),
    url("../fonts/RodinBokutohPro-B.ttf.eot"),
    url("../fonts/RodinBokutohPro-B.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RodinBokutohPro-DB";
  src: url("../fonts/RodinBokutohPro-DB.ttf.woff") format("woff"),
    url("../fonts/RodinBokutohPro-DB.ttf.svg#RodinBokutohPro-DB") format("svg"),
    url("../fonts/RodinBokutohPro-DB.ttf.eot"),
    url("../fonts/RodinBokutohPro-DB.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Light.woff2") format("woff2"),
    url("../fonts/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
    url("../fonts/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Regular.woff2") format("woff2"),
    url("../fonts/NeueMachina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::root {
  --font-color: #ffff;
  --font-family-1: "RodinBokutohPro-B";
  --font-family-2: "RodinBokutohPro-DB";
  --font-family-3: "Neue Machina";
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "RodinBokutohPro-B";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

video {
  object-fit: cover;
  z-index: -1;
}

header {
  color: #ffff;
}

section {
  padding-bottom: 4rem !important;
}

a {
  text-decoration: none;
  color: #ffff;
}

.testimonials li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.testimonials li:nth-child(1) {
  background-image: url("../images/doctor.jpg");
  background-size: cover;
}
.testimonials li:nth-child(2) {
  background-image: url("../images/doctor2.jpg");
  background-size: cover;
}
.testimonials li:nth-child(3) {
  background-image: url("../images/doctor3.jpg");
  background-size: cover;
}
.testimonials li:nth-child(4) {
  background-image: url("../images/doctor4.jpg");
  background-size: cover;
}
.testimonials li:nth-child(n + 2) {
  margin-left: -5px;
}

.testimonials ul:hover li:nth-child(n + 2) {
  margin-left: 0px;
}

/* utility classes */

.alignment {
  padding: 0 6rem;
}

.space-mid {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero-bottom {
  margin-top: 8.5rem;
  padding-bottom: 4rem;
}

.neue {
  font-family: "Neue Machina";
}

.neue-light {
  font-family: "Neue Machina";
  font-weight: 300;
}

.neue-bold {
  font-family: "Neue Machina";
  font-weight: bold;
}

.color-second {
  background-color: #1344ff;
}

.discount-text {
  width: 55%;
  font-weight: 600;
}

.panel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  transition: all 700ms ease-in;
}
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Gallery */

.panel:nth-child(1) {
  background-image: url("../images/doctor4.jpg");
}
.panel:nth-child(2) {
  background-image: url("../images/doctor2.jpg");
}
.panel:nth-child(3) {
  background-image: url("../images/doctor3.jpg");
}
.panel:nth-child(4) {
  background-image: url("../images/doctor.jpg");
}

.panel:nth-child(5) {
  background-image: url("../images/doctor4.jpg");
}

.panel:nth-child(6) {
  background-image: url("../images/doctor4.jpg");
}
